<div class="ui container fluid">
	<h4 class="ui top attached header center">
		{{ctx.Locale.Tr "sign_in"}} - API Key Authentication
	</h4>
	<div class="ui attached segment">
		<form class="ui form" action="{{.SignInLink}}" method="post">
			{{template "base/alert" .}}
			<div class="required field {{if .Err_APIKey}}error{{end}}">
				<label for="api_key">API Key</label>
				<input id="api_key" name="api_key" type="password" value="" placeholder="mk_live_... or mk_test_..." autofocus required>
			</div>
			<div class="inline field">
				<button class="ui primary button tw-w-full">
					{{ctx.Locale.Tr "sign_in"}}
				</button>
			</div>

			<div class="ui info message tw-mt-4">
				<div class="header">API Key Login</div>
				<p>Enter your API key to sign in. Your API key should start with <code>mk_live_</code> or <code>mk_test_</code>.</p>
				<p>You can find your API keys in your account settings after registration.</p>
			</div>
		</form>
	</div>
</div>

<div class="ui container fluid">
	<div class="ui attached segment header top tw-flex tw-flex-col tw-items-center">
		<div class="field">
			<span>Don't have an account?</span>
			<a href="{{AppSubUrl}}/user/sign_up/new">Sign Up with API Key</a>
		</div>
		<div class="field tw-mt-2">
			<span>Want standard login?</span>
			<a href="{{AppSubUrl}}/user/login">Login Here</a>
		</div>
	</div>
</div>
